@use "../node_modules/bootstrap/scss/bootstrap";

$purple: #6F00FF;
$green: #00e689;
$pink: #ff00f7;
$orange: #FF6A00;
$black: #131313;
$transition-color: 0.4s color ease;
$opaque-white: rgba(240, 250, 255, 0.6);

.pageContainer {
    width: 67%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerContainer {
    display:flex;
    width: 100%;
    justify-content: flex-start;
}

.pageHeader {
    color: $orange;
    font-size: 60px;
    line-height: 1em;
    margin-bottom: 40px;
}

.pageContent {
    background-color: $opaque-white;
    padding: 30px;
    width: 67%;
}

.stylisticLine {
    width: 37px;
    height: 5px;
    border-top: 5px solid $purple;
    margin-bottom: 20px;
}