@use "../node_modules/bootstrap/scss/bootstrap";

$purple: #6F00FF;
$green: #00e689;
$pink: #ff00f7;
$orange: #FF6A00;
$black: #131313;
$transition-color: 0.4s color ease;

.pageContainer {
    width: 75%;
}

.pageHeader {
    color: $orange;
    font-size: 60px;
    line-height: 1em;
}

.pageContent {
    background-color: rgba(240, 250, 255, 0.6);
    padding: 30px;
    width: 400px;
}

.stylisticLine {
    width: 37px;
    height: 5px;
    border-top: 5px solid $purple;
    margin-bottom: 20px;
}