/* /Layout/FooterMenu.razor.rz.scp.css */
.footerNavContainer[b-syjhu7d0sm] {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top:-100%;
    justify-content: center;
    margin-bottom: 40px;
}

.footerNav[b-syjhu7d0sm] {
    width: 67%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 330px;
}

.nav-item[b-syjhu7d0sm]  a {
    color: var(--white);
    border-radius: 4px;
    height: 2rem;
    display: flex;
    align-items: center;
    line-height: 2rem;
}

.nav-item[b-syjhu7d0sm]  a.active {
    color: var(--pink);
    transition: var(--color-trans);
}

.nav-item[b-syjhu7d0sm]  a:hover {
    color: var(--green);
    transition: var(--color-trans);
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-gg4ggk83ck] {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.header[b-gg4ggk83ck] {
    width: 100%;
    z-index: 100;
    background-color: var(--opaque-white);
    display:flex;
    justify-content: center;
    position: fixed;
}

main[b-gg4ggk83ck] {
    flex: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.bodyContainer[b-gg4ggk83ck] {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navContainer[b-ijgp04wg38] {
    width: 67%;
    display:flex;
    justify-content: center;
}

.nav[b-ijgp04wg38] {
    width: 67%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

@media (max-width: 1000px) {
    .navContainer[b-ijgp04wg38] {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .nav[b-ijgp04wg38] {
        width: 80%;
        justify-content: center;
    }
}

.bi[b-ijgp04wg38] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-ijgp04wg38] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-envelope-nav-menu[b-ijgp04wg38] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-envelope' viewBox='0 0 16 16'%3E%3Cpath d='M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.708 2.825L15 11.183V5.383zM1 5.383v5.8l4.708-2.975L1 5.383zM6.761 8.83L1.5 12.18V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-.02l-5.261-3.34L8 9.733 6.761 8.83z'/%3E%3C/svg%3E");
}

.bi-music-nav-menu[b-ijgp04wg38] {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-note" viewBox="0 0 16 16"%3E%3Cpath d="M9 13.5c0 .828-.895 1.5-2 1.5s-2-.672-2-1.5c0-.828.895-1.5 2-1.5s2 .672 2 1.5z"%3E%3C/path%3E%3Cpath fill-rule="evenodd" d="M9 3v10H8V3h1z"%3E%3C/path%3E%3Cpath d="M12 3v10h-1V3h1z"%3E%3C/path%3E%3C/svg%3E');
}

.bi-list-nested-nav-menu[b-ijgp04wg38] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.flex-column[b-ijgp04wg38] {
    justify-content: center;
    height: 100%;
}

.nav-item[b-ijgp04wg38] {
    font-size: 20px;
    font-weight: 600;
}

.nav-item[b-ijgp04wg38]  a {
    color: var(--black);
    display: flex;
    align-items: center;
}

.nav-item[b-ijgp04wg38]  a.active {
    color: var(--pink);
    transition: var(--color-trans);
}

.nav-item[b-ijgp04wg38]  a:hover {
    color: var(--green);
    transition: var(--color-trans);
}

.socialMediaLinks[b-ijgp04wg38] {
    display:flex;
    align-items: center;
    justify-content: center;
}

.imgWrapper[b-ijgp04wg38] {
    overflow: hidden;
}

.imgWrapper:hover[b-ijgp04wg38] {
    transform: scale(1.25);
    transition: transform 0.3s ease-in-out; 
}

.socialMediaImage[b-ijgp04wg38] {
    height: 35px;
    width: 35px;
    margin: 4px;
}
/* /Pages/Bio.razor.rz.scp.css */
.bioText[b-exxy13dbf9] {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 500;
}

ul[b-exxy13dbf9] {
    list-style-type: disc;
}
/* /Pages/Contact.razor.rz.scp.css */
#recipient[b-1fw9fin4ji] {
    cursor: pointer;
}

.contactText[b-1fw9fin4ji] {
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0px;
}

#submitBtnWrapper[b-1fw9fin4ji]{
    display:flex;
    margin-top: 10px;
    justify-content: flex-end;
}

#submitBtn[b-1fw9fin4ji] {
    background-color: #6F00FF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: rgb(233, 233, 233);
    opacity: 1;
}
/* /Pages/Home.razor.rz.scp.css */
.headerContent[b-1lq06ou2z4] {
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 0;
}

@media (min-width: 1080px) {
    .headerContent[b-1lq06ou2z4] {
        left: 20%;
    }
}

@media (max-width: 450px) {
    .headerContent[b-1lq06ou2z4] {
    position: static;
    justify-content: center;
}
}

.homeHeader[b-1lq06ou2z4] {
    color: var(--purple);
    font-size: 100px;
    margin: 0;
}



.homeDescription[b-1lq06ou2z4] {
    color: var(--green);
    font-style: italic;
    font-size:30px;
    white-space: nowrap;
}

.brandLogo[b-1lq06ou2z4] {
    width: 200px;
}
/* /Pages/Music.razor.rz.scp.css */
.playlistFooter[b-345l55l956] {
    font-size: 10px; 
    color: #6F00FF;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-weight: 100;
}

iframe[b-345l55l956] {
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
