.page[b-plawi4y5t5] {
    position: relative;
    display: flex;
    flex-direction: column;
    background: url(/images/background-image.jpg) no-repeat center center / cover;
    height: 100%;
}

main[b-plawi4y5t5] {
    flex: 1;
}
