<div class="footerNavContainer">
    <nav class="footerNav">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> HOME
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bio">
                <span aria-hidden="true"></span> BIO
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="music">
                <span aria-hidden="true"></span> MUSIC
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <span aria-hidden="true"></span> CONTACT
            </NavLink>
        </div>
    </nav>
</div>

@code {
}
