.footerNavContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top:-100%;
    justify-content: center;
    margin-bottom: 40px;
}

.footerNav {
    width: 67%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav-item ::deep a {
    color: var(--white);
    border-radius: 4px;
    height: 2rem;
    display: flex;
    align-items: center;
    line-height: 2rem;
}

.nav-item ::deep a.active {
    color: var(--pink);
    transition: var(--color-trans);
}

.nav-item ::deep a:hover {
    color: var(--green);
    transition: var(--color-trans);
}