@inherits LayoutComponentBase
<div class="page">
    <main>
        <header class="header">
            <NavMenu />
        </header>

        <article class="bodyContainer">
            @Body
        </article>
    </main>
    <FooterMenu/>
</div>
