.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background: url(/images/background-image.jpg) no-repeat center center / cover;
    height: 100%;
}

main {
    flex: 1;
}
