@using EPK.Models
@inject HttpClient Http

<div class='navContainer'>
    <nav class="nav">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> HOME
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bio">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> BIO
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="music">
                <span class="bi bi-music-nav-menu" aria-hidden="true"></span> MUSIC
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <span class="bi bi-envelope-nav-menu" aria-hidden="true"></span> CONTACT
            </NavLink>
        </div>
    </nav>
    <nav class="socialMediaLinks">
        @if (SocialMediaLinks == null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var link in SocialMediaLinks)
        {
            <a href="@link.Url" target="_blank" title="@link.Name">
                <img src="@link.Image" alt="@link.Name Icon" class="socialMediaImage"/>
            </a>
        }
    }
    </nav>
</div>

@code {
    private List<SocialMediaLink>? SocialMediaLinks;

    protected override async Task OnInitializedAsync()
    {
        SocialMediaLinks = await Http.GetFromJsonAsync<List<SocialMediaLink>>("SocialMediaLinks.json");
    }
}
