@inject HttpClient Http

<div class='navContainer'>
    <nav class="nav">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                HOME
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="bio">
                BIO
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="music">
                MUSIC
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="contact">
                CONTACT
            </NavLink>
        </div>
    </nav>
    <nav class="socialMediaLinks">
        @if (SocialMediaLinks == null)
    {
        <p></p>
    }
    else
    {
        @foreach (var link in SocialMediaLinks)
        {
            <a href="@link.Url" target="_blank" title="@link.Name" class="imgWrapper">
                <img src="@link.Image" alt="@link.Name Icon" class="socialMediaImage"/>
            </a>
        }
    }
    </nav>
</div>

@code {
    private List<SocialMediaLink>? SocialMediaLinks;

    protected override async Task OnInitializedAsync()
    {
        SocialMediaLinks = await Http.GetFromJsonAsync<List<SocialMediaLink>>("socialMediaLinks.json");
    }
}
