.headerContent[b-4rafesbqjl] {
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 0;

    @media (min-width: 400px) {
        left: 20%;[b-4rafesbqjl]
    }
}

.homeHeader[b-4rafesbqjl] {
    color: var(--purple);
    font-size: 100px;
    margin: 0;
}



.homeDescription[b-4rafesbqjl] {
    color: var(--green);
    font-style: italic;
    font-size:40px;
}

.brandLogo[b-4rafesbqjl] {
    width: 200px;
}