@page "/bio"

<PageTitle>Bio</PageTitle>

<h1>Biography</h1>

<p role="status">
TOER takes electronic music to another level, 
electrifying listeners with buttery biscuit synths 
served with thick electronic gravy. One cornfed hombre 
from the boonies thrills the world in a mathematical 
fashion so hold on tight. keep your feet firmly planted
 to the floor for your own safety because, like all good
  things, the music starts off gentle and slowly brings
   you to your climax, leaving you udderly satisfied like
    a freshly milked Wisconsin Holstein.
</p>

@code {
    
}
