@page "/bio"

<PageTitle>BIO | TOER</PageTitle>

<div class="pageContainer">
    <div class="headerContainer">
        <h1 class="pageHeader">BIOGRAPHY</h1>
    </div>
    <div class="pageContent">
        <div class="stylisticLine"></div>
        <div class="bioText">
        TOER takes electronic music to another level, 
        electrifying listeners with buttery biscuit synths 
        served with thick electronic gravy. One cornfed hombre 
        from the boonies thrills the world in a mathematical 
        fashion so hold on tight. keep your feet firmly planted
        to the floor for your own safety because, like all good
        things, the music starts off gentle and slowly brings
        you to your climax, leaving you udderly satisfied like
            a freshly milked Wisconsin Holstein.
        </div>
        <ul>
            <li>2013 Insomniac Events' Discovery Project Grand Prize Winner</li>
            <li>Official DJ Representative for Red Bull Energy Drink</li>
            <li>VIBE.com's must-see act at Electric Daisy Carnival: Las Vegas</li>
            <li>Featured on NBC Sunday Night Football</li>
            <li>Over 3 million plays across Soundcloud and Youtube</li>
        </ul>
    </div>
</div>

@code {
    
}
