#recipient {
    cursor: pointer;
}

.contactText {
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0px;
}

#submitBtnWrapper{
    display:flex;
    margin-top: 10px;
    justify-content: flex-end;
}

#submitBtn {
    background-color: #6F00FF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: rgb(233, 233, 233);
    opacity: 1;
}