@page "/"

<PageTitle>HOME|TOER</PageTitle>

<div class="pageContainer">
    <div class="headerContainer">
        <div class="headerContent">
            <h1 class="homeHeader">TOER</h1>
            <h2 class="homeDescription">DJ. Producer. MC.</h2>
            <img class="brandLogo" src="/images/TOER-brand-cropped.png" alt="Brand Logo"/>
        </div>
    </div>
</div>
