.headerContent {
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Enables offset positioning */
    left: 0; /* Default left position */

    /* Media query for screens larger than 400px */
    @media (min-width: 400px) {
        left: 20%;
    }
}

.homeHeader {
    color: var(--purple);
    font-size: 100px;
    margin: 0;
}



.homeDescription {
    color: var(--green);
    font-style: italic;
    font-size:40px;
}

.brandLogo {
    width: 200px;
}