.headerContent {
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 0;
}

@media (min-width: 1080px) {
    .headerContent {
        left: 20%;
    }
}

@media (max-width: 450px) {
    .headerContent {
    position: static;
    justify-content: center;
}
}

.homeHeader {
    color: var(--purple);
    font-size: 100px;
    margin: 0;
}



.homeDescription {
    color: var(--green);
    font-style: italic;
    font-size:40px;
    white-space: nowrap;
}

.brandLogo {
    width: 200px;
}